@darkest: #002451;
@darkest-select: #00346e;
@darkest-foreground: #ffffff;
@darkest-highlight: #003f8e;
@darkest-alt-foreground: #7285b7;
@darkest-border: #3d3d3d;

@base: rgb();
@base-complement: rgb();
@base-select: rgb();
@base-border: rgb();

@light: rgb();
@light-complement: rgb();
@light-select: rgb();


@title-bar: rgb();
@title-bar-complement: rgb();
@title-bar-select: rgb();
@title-bar-border: rgb();

@compat-red: #ff9da4;
@compat-orange: #ffc58f;
@compat-yellow: #ffeead;
@compat-green: #d1f1a9;
@compat-aqua: #99ffff;
@compat-blue: #bbdaff;
@compat-purple: #ebbbff;


