@darkest: #111111;
@darkest-select: #2a2a2a;
@darkest-foreground: #eaeaea;
@darkest-highlight: #424242;
@darkest-alt-foreground: #969896;
@darkest-border: lighten(@darkest, 20%);


@base: lighten(@darkest, 10%);
@base-foreground: lighten(@darkest-foreground, 10%);
@base-select: lighten(@darkest-select, 10%);
@base-border: lighten(@darkest-border, 10%);

@light: lighten(@base, 20%);
@light-foreground: lighten(@base-foreground, 20%);
@light-select: lighten(@base-select, 20%);

@tab-background-color: lighten(@darkest, 2%);
@tab-text-color: darken(@darkest-foreground, 20%);
@tab-active-shadow: lighten(@darkest, 10%);
@tab-active-background-color: darken(@darkest, 10%);

@title-bar: lighten(@darkest, 10%);
@title-bar-foreground: lighten(@darkest-foreground, 10%);
@title-bar-select: lighten(@darkest-select, 10%);
@title-bar-border: lighten(@darkest-border, 10%);

@compat-red: #d54e53;
@compat-orange: #e78c45;
@compat-yellow: #e7c547;
@compat-green: #b9ca4a;
@compat-aqua: #70c0b1;
@compat-blue: #7aa6da;
@compat-purple: #c397d8;


