@darkest: #eeeeee;
@darkest-select: #efefef;
@darkest-foreground: #4d4d4c;
@darkest-highlight: #d6d6d6;
@darkest-alt-foreground: #8e908c;
@darkest-border: darken(@darkest, 10%);

@base: lighten(@darkest, 10%);
@base-foreground: lighten(@darkest-foreground, 10%);
@base-select: lighten(@darkest-select, 10%);
@base-border: lighten(@darkest-border, 10%);

@light: lighten(@base, 20%);
@light-foreground: lighten(@base-foreground, 20%);
@light-select: lighten(@base-select, 20%);

@main-tabs-background: darken(@darkest, 3%);
@tab-text-active-color: darken(@darkest-foreground, 50%);
@tab-text-shadow: darken(@darkest-foreground, 30%);
@tab-text-active-shadow: darken(@tab-text-color, 30%);

@tab-background-color: darken(@light,10%);
@tab-text-color: darken(@light-foreground, 50%);
@tab-active-shadow: darken(@light, 25%);
@tab-active-background-color: darken(@light, 20%);

@title-bar: lighten(@darkest, 10%);
@title-bar-foreground: lighten(@darkest-foreground, 10%);
@title-bar-select: lighten(@darkest-select, 10%);
@title-bar-border: lighten(@darkest-border, 10%);

@tool-background: darken(@darkest-select, 7%);
@tool-foreground: lighten(@darkest-foreground, 5%);
@tool-foreground-hover: darken(@darkest-foreground, 35%);
@tool-border: @darkest;
@tool-shadow: darken(@darkest-select, 10%);

@menu-bar-border: darken(@darkest, 2%);
@menu-text: darken(@darkest-foreground, 50%);
@menu-text-hover: darken(@darkest, 40%);
@menu-icon: @darkest-foreground;
@menu-icon-hover: darken(@darkest-foreground, 2%);
@menu-icon-hover-background: @menu-text-hover;
@menu-input-background: @tab-background-color;
@menu-input-border: @main-tabs-background;
@menu-progress-bar: transparent; //@compat-yellow;
@menu-spacer: @tool-foreground;

@tooltip-background: lighten(@darkest, 10%);
@tooltip-foreground: @darkest-foreground;
@tool-tip-shadow: darken(@darkest-border, 40%);

@compat-red: #c82829;
@compat-orange: #f5871f;
@compat-yellow: #eab700;
@compat-green: #718c00;
@compat-aqua: #3e999f;
@compat-blue: #4271ae;
@compat-purple: #8959a8;


