@darkest: #ffffff;
@darkest-select: #efefef;
@darkest-foreground: #4d4d4c;
@darkest-highlight: #d6d6d6;
@darkest-alt-foreground: #8e908c;
@darkest-border: rgb();

@base: rgb();
@base-complement: rgb();
@base-select: rgb();
@base-border: rgb();

@light: rgb();
@light-complement: rgb();
@light-select: rgb();


@title-bar: rgb();
@title-bar-complement: rgb();
@title-bar-select: rgb();
@title-bar-border: rgb();

@compat-red: #c82829;
@compat-orange: #f5871f;
@compat-yellow: #eab700;
@compat-green: #718c00;
@compat-aqua: #3e999f;
@compat-blue: #4271ae;
@compat-purple: #8959a8;


