/* For resizing terminal split windows */
div .gutter.gutter-vertical {
    cursor: ew-resize;
    height: 100%;
    float: left;
}

div .trench {
    /*background: #2d333b;*/
    background: darkred;
    position: relative;
}

div .gutter.gutter-vertical:after {
    content: "";
    display: block;
    height: 100%;
    width: 8px;
    position: absolute;
    left: -3px;
    z-index: 10;
}

div .gutter.gutter-horizontal {
    cursor: ns-resize;
}

div .gutter.gutter-horizontal:after {
    content: "";
    display: block;
    height: 8px;
    width: 100%;
    position: absolute;
    top: -3px;
    z-index: 10;
}