#the-grid {
    display: grid;
    box-sizing: content-box;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(54, 54, 54);
    grid-template-rows: minmax(min-content, 60px) calc(100% - 60px - 25px) 25px;
    grid-template-columns: 33px calc(100% - 33px - 150px) minmax(min-content, 150px);
    overflow: hidden;
}

#menu  { 
    width: 100vw;
    grid-column: 1 / span 3;
    grid-row: 1 1;
    border-bottom: 1px solid rgb(45, 45, 45);  
    background-color: rgb(42, 42, 42);
}

#toolbar {
    grid-column: 1 1;
    grid-row: 2 2;
    border-right: 1px solid rgb(30, 30, 30);  
    background-color: rgb(54, 54, 54);
}

#workboard {
    grid-column: 2 2;
    grid-row: 2 2;
    background-color: rgb(35, 35, 35);
    border: 1px solid #2f2f2f;
}

#properties-bar {
    grid-column: 3 3;
    grid-row: 2 2;
    border-left: 1px solid rgb(30, 30, 30);  
    background-color: rgb(54, 54, 54);
    margin: 1px;
}

#statusbar { 
    width: 100vw;
    grid-column: 1 / span 3;
    grid-row: 3 3;
    background-color: rgb(30, 30, 30);  
    border-top: 1px solid rgb(35, 35, 35);  
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.toolbar button {
  background-color: #ccc;
  border: 0px solid black;
}

.toolbar button:hover {
  background-color: #888;
}

.box-shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.box-shadow-inset {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.gridster > div > li {
    background-image: none;
    background-color: #888;    
}

#board {
    display: grid;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto 25px;
    grid-template-columns: 100%;
    overflow: hidden;
}

#workspace {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

