/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding: 2px;
    left: calc(50% - 150px/2);
    top: calc(50% - 275px/2);
    width: 200px;
    height: 275px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    border-radius: 5px;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #333;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    width: 198px;
    height: 273px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #efefef;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: salmon;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px;
    background-color: #0f0f0f;
    color: #efefef;
}

.modal-body {
    padding: 4px;
    border-radius: 5px;
}

.modal-footer {
    padding: 4px;
    background-color: #0e0e0e;
    color: #efefef;
}