#main-content {
  display: grid;
  grid-template-rows: @main-cont-tab-height auto;
  grid-template-columns: 1fr;
  grid-template-areas: "main-tabs" "main-tab-content";

  #main-tabs {
    grid-area: main-tabs;
    display: flex;
    flex-direction: row;
    background: @main-tabs-background;

    .tab {
      padding-right: 1px;
      padding-left: @main-cont-cell-padding;
      max-width: @main-cont-tab-width;
      background: @tab-background-color;
      display: flex;
      flex-direction: row;
      border-right: @main-cont-tab-border solid transparent;
      border-bottom: @main-cont-tab-border-top solid @tab-background-color; //@tab-text-shadow;

      .icon {
        padding: @main-cont-cell-padding;
        font-size: 0.6em;
        //margin-right: 4px;
      }

      .text {
        padding-right: 4*@main-cont-cell-padding;
        padding-left: 2*@main-cont-cell-padding;
        white-space: nowrap;
        font-family: typewriter_condensedregular;
        text-decoration: none;
        letter-spacing: 1px;
        max-width: @main-cont-text-max-width;
        font-size: 0.9em;
        line-height: 1.4em;
        -webkit-font-smoothing: subpixel-antialiased;
        text-transform: uppercase;
        .overflow();
        color: @tab-text-color;
        text-shadow: 1px 0 0 @tab-text-shadow;
      }

      .close {
        padding-left: @main-cont-cell-padding;
        color: @tab-text-shadow;
        font-size: 0.65em;
        cursor: pointer;
      }
    }

    .tab:hover {
      //background: @compat-red;
      //color: @darkest;
      //text-shadow: 1px 0 1px @darkest;
      //border-bottom: @main-cont-tab-border-top solid @main-tab-highlight-border;
      .icon {
        //color: darken(@darkest, 10%);
      }
    }

    .active {
      background: @tab-active-background-color;
      border-bottom: @main-cont-tab-border-top solid @tab-text-active-color;
      .text {
        color: @tab-text-active-color;
        text-shadow: 1px 0 0 @tab-text-active-shadow;
      }
    }

    .active:hover {
      //background: @main-cont-tab-selected-background;
      //color: @base-foreground;
      .icon {
        //color: darken(@base-foreground, 10%);
      }
    }
  }

  #main-tab-content {
    grid-area: main-tab-content;
  }
}