#menu-bar {
  border-bottom: 1px solid @menu-bar-border;
  display: grid;
  grid-template-rows: (@menu-items-height + @menu-text-to-tool-margin) @menu-icons-first-row @menu-icons-second-row @menu-progress-bar-height;
  grid-template-columns: @menu-toolbar-width @widget-area-first-column @widget-area-second-column;
  grid-template-areas: "menu-items widget-area widget-area" "icons-first-row widget-area widget-area" "icons-second-row widget-area widget-area" "menu-progress-bar menu-progress-bar menu-progress-bar";

  #menu-items {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    height: @menu-items-height;
  }

  #icons-first-row, #icons-second-row {
    box-sizing: border-box;

    .icon-group {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
    }
  }

  #menu-items {
    grid-area: menu-items;
    margin-bottom: @menu-text-to-tool-margin;

    .text {
      padding: 2px 8px;
      text-transform: uppercase;
      font-family: Inconsolata;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      letter-spacing: 2px;
      color: @menu-text;
    }

    .active {
      border-bottom: 2px solid @menu-text;
      //background: @menu-text-hover;
    }

    :hover {
      background: @menu-text-hover;
    }
  }

  #icons-first-row {
    grid-area: icons-first-row;

    .icon-group {
      height: @menu-icons-first-row;
    }
  }

  #icons-second-row {
    grid-area: icons-second-row;

    .icon-group {
      height: @menu-icons-second-row;
    }
  }

  #icons-first-row, #icons-second-row {
    .icon-group {
      width: 100%;
      padding: 2px;

      .tool {
        &.font-icon {
          padding: 2px 8px;
          font-size: 10px;
          line-height: 19px;
          color: @menu-icon;
        }

        &.selected, &:hover {
          background: @menu-icon-hover-background;
          color: @menu-icon-hover;
        }

        &.icon-with-url {
          padding: 4px;

          img {
            width: 12px;
            height: 12px;
          }
        }
      }

      .tool-with-label {
        display: flex;
        flex-direction: row;

        .select-drop-down-label {
          text-transform: uppercase;
          font-size: 10px;
          padding-right: 5px;
          line-height: 20px;
        }
      }

      .select-drop-down, .select-option-placeholder, .select-option {
        margin-right: 5px;
        width: 100px;
        box-sizing: border-box;
        font-family: 'Anton';
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 9px;
        border: 1px solid lighten(@darkest-border, 10%);
        background-color: darken(@darkest, 3%);
        //border: 1px solid transparent;
        color: @darkest-foreground;
        appearance: none;
        //border-radius: 9px 9px 9px 9px;
        //box-shadow: 0px 1px 2px @tooltip-background;
        outline: none;

        &:disabled {
          background-color: @tooltip-background;
          color: @tooltip-foreground;
        }
      }

      .select-option {
        font-size: 11px;
        font-family: Oswald;
      }

      .spacer {
        color: fade(@menu-spacer, 15%);
        font-size: 0.8em;
        line-height: 1.8em;
      }
    }
  }

  #widget-area {
    grid-area: widget-area;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0 1px 1px;
  }

  #menu-progress-bar {
    box-sizing: border-box;
    grid-area: menu-progress-bar;
    min-height: @menu-progress-bar-height;
    max-height: @menu-progress-bar-height;
    background: @menu-progress-bar;
  }

}