@title-grid-gap: 0px;
@icon-width: @title-height *1.5;
@title-padding: 6px;

#title-bar {
  min-height: @title-height;
  display: grid;
  grid-template-columns: @icon-width calc((100% - (4*@icon-width) - (5*@title-grid-gap)) * 3/4) calc((100% - (4*@icon-width) - (5*@title-grid-gap)) * 1/4) @icon-width @icon-width @icon-width;
  grid-template-rows: 1px calc(100% - 1px);
  grid-template-areas: "icon resizewin resizewin minimize maximize close"
                      "icon title notifications minimize maximize close";
  //justify-content: center;
  //align-items: center;
  -webkit-app-region: drag;
  //border-top: 1px solid @base;
  //border-bottom: 1px solid darken(@darkest, 2%);
  grid-gap: @title-grid-gap;
}

.at-win {
  height: @title-height;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-app-region: no-drag;
  text-align: center;
  padding: @title-padding;
}

.at-win:hover {
  background: @compat-red;
  color: white;
}

.resize-win {
  grid-area: resizewin;
  .dark-container();
  -webkit-app-region: no-drag;
}

.icon {
  grid-area: icon;
  color: @compat-aqua;
  text-shadow: 1px 1px 2px darken(@darkest, 10%);
}

.close {
  grid-area: close;
}

.maximize {
  grid-area: maximize;
}

.minimize {
  grid-area: minimize;
}

.notifications {
  grid-area: notifications;
  padding: @title-padding;
}

.titlebar-title {
  grid-area: title;
  padding: @title-padding;
  color: @compat-green;
  font-family: SpecialElite;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.title {
  grid-area: title;
  padding: @title-padding;
  color: @compat-green;
  font-family: SpecialElite;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}
