#terminal {
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.base-terminal::-webkit-scrollbar {
    width: 4px;
    background-color: black;
    overflow: hidden;
}

li {
    width: 100%;
    border: 5px solid black;
    list-style: none;
}